html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.top_h{
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

/* font */

h1 {
  font-size: 38px;
  font-weight: bold;
}

h3{
  font-size: 24px;
  font-weight: lighter;
}
h5{
  font-size: 15px;
  font-weight:lighter;
}


/* centratura verticale del contenuto */
.ghost_align::before{
    content:"";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}



/* element */

/* NAV */
nav{
  background-color: white;
}

/* logo */
.top_h img{
  width: 80px;
}

.top_h .content{
  line-height: 60px;
}

/* navbar e navlang */

.nav_menu{

  text-align: right;
}

.nav_lang{
  text-align: left;
}

.nav_lang li:not(:last-child) a {
   border-right: 1px solid black;
   padding-right: 10px;
}

[class*="nav_"] li {
  display: inline-block;

}

[class*="nav_"] li a{
  text-decoration: none;
  color: black;
  text-transform:uppercase;
  padding-left: 20px;
}

/* navbar_mobile e tablet */
.burger{
  text-align: right;
}

 .burger .fa{
   color: black;
 }

 .fa-lg{
   height: 28px;
 }

/* HEADER */
.hero {
  height:555px;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
}
.hero::before {
  content: '';
  position: absolute;
  top: 60;
  left: 0;
  width: 100%;
  height:555px;
  background-color: rgba(0,0,0,0.3);
}
.hero{
  position: relative;
}


.bg_over .content {
  text-align: center;
  color: white;
  width: 92%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.app_store img{
  width: 150px;
  margin-top: 20px;
}

/* MAIN */

/* FIRST SECTION  */
.first{

}
.first .container{
  margin: 60px auto;

}
.grey{
  background-color: #fafafa;
  text-align: center;

}
.first .content{
  color: black;
  padding:40px;
}

.first > .container > [class*="col-"] > .grey > .content > img:first-child{
  width: 40%;
}
.first > .container > [class*="col-"] > .grey > .content > img:last-child{
  width: 80%;
}

.mono{
    width: 90%;
    margin-right: 20px;
    margin-left: auto;

}
.bike{
  width: 90%;
  margin-left: 20px;
  margin-right: auto;
}

.separator{
  height: 30px;
}
.first a{
  text-decoration: none;
  color: #1e84d3;
}



/* DEBUG CSS */

.debug .first > .container{
  border: 1px solid white;

}
.debug .first> [class*=col-]{
  border: 1px solid white;
}

.debug .first > .content{
  border: 1px solid white;
  height:100px;
}


/* media query */
@media screen and (max-width: 768px) {
  .mono{
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
  }
  .bike{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}
